/*
 *   __  __
 *   \ \/ /_ __ ___  ___  ___  _   _ _ __ ___ ___  ___
 *    \  /| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
 *  _ /  \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
 * (_)_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/
 * 
*/

/* nord */
#define nord0  #3B4252
#define nord8  #4C566A
#define nord1  #BF616A
#define nord9  #BF616A
#define nord2  #A3BE8C
#define nord10 #A3BE8C
#define nord3  #EBCB8B
#define nord11 #EBCB8B
#define nord4  #81A1C1
#define nord12 #81A1C1
#define nord5  #B48EAD
#define nord13 #B48EAD
#define nord6  #88C0D0
#define nord14 #8FBCBB
#define nord7  #E5E9F0
#define nord15 #ECEFF4
#define nordfg #D8DEE9
#define nordbg #2E3440

/* gruvbox */
/* #define gruv0  #282828 */
/* #define gruv8  #928374 */
/* #define gruv1  #CC241D */
/* #define gruv9  #FB4934 */
/* #define gruv2  #98971A */
/* #define gruv10 #B8BB26 */
/* #define gruv3  #D79921 */
/* #define gruv11 #FABD2F */
/* #define gruv4  #458588 */
/* #define gruv12 #83A598 */
/* #define gruv5  #B16286 */
/* #define gruv13 #D3869B */
/* #define gruv6  #689D6A */
/* #define gruv14 #8EC07C */
/* #define gruv7  #A89984 */
/* #define gruv15 #EBDBB2 */
/* #define gruvfg #EBDBB2 */
/* #define gruvbg #282828 */

#define gruv0 #32302f
#define gruv1 #ea6962
#define gruv2 #a9b665
#define gruv3 #d8a657
#define gruv4 #7daea3
#define gruv5 #d3869b
#define gruv6 #89b482
#define gruv7 #d4be98
#define gruv8 #32302f
#define gruv9 #ea6962
#define gruv10 #a9b665
#define gruv11 #d8a657
#define gruv12 #7daea3
#define gruv13 #d3869b
#define gruv14 #89b482
#define gruv15 #d4be98
#define gruvfg #d4be98
#define gruvbg #32302f

#define theme0  gruv0
#define theme8  gruv8
#define theme1  gruv1
#define theme9  gruv9
#define theme2  gruv2
#define theme10 gruv10
#define theme3  gruv3
#define theme11 gruv11
#define theme4  gruv4
#define theme12 gruv12
#define theme5  gruv5
#define theme13 gruv13
#define theme6  gruv6
#define theme14 gruv14
#define theme7  gruv7
#define theme15 gruv15
#define themefg gruvfg
#define themebg gruvbg
#define themehl gruv11

*.font: Source Code Pro:size=12

*.foreground:   themefg
*.background:   themebg
*.cursorColor:  themefg
*.termname:     st-256color

! black + darkgrey
*.color0: theme0
*.color8: theme8
! darkred + red
*.color1: theme1
*.color9: theme9
! darkgreen + green
*.color2: theme2
*.color10: theme10
! darkyellow + yellow
*.color3: theme3
*.color11: theme11
! darkblue + blue
*.color4: theme4
*.color12: theme12
! darkmagenta + magneta
*.color5: theme5
*.color13: theme13
! darkcyan + cyan
*.color6: theme6
*.color14: theme14
! lightgrey + white
*.color7: theme7
*.color15: theme15

/* dwm */
*.borderpx: 5
dwm.normbordercolor: themebg
dwm.selbordercolor: themefg
/* dwm's bar */
dwm.normbgcolor: themebg
dwm.selbgcolor: themehl
dwm.selfgcolor: themebg

/* dmenu */
dmenu.selbackground: themehl

/* herbe */
herbe.background_color: themebg
herbe.font_pattern: Sauce Code Pro Nerd Font:size=10
/* herbe.font_pattern: Symbols Nerd Font:style=2048-em */ 
herbe.width: 300
herbe.pos_x: 20
herbe.pos_y: 50

