snippet main "main" w
int
main(int argc, char** argv)
{
	$0
	return 0;
}
endsnippet

snippet for "for" w
for ($1; $2; $3) {
	$0
}
endsnippet

snippet func "func" w
$1
$2($3)
{
	$0
}
endsnippet

snippet struct "struct" w
struct $1 {
	$0
};
endsnippet

snippet #if "#if define" w
#if $1
	$0
#endif
endsnippet

snippet inc "include lib" w
#include <$1>$0
endsnippet

snippet incc "include local" w
#include "$1.h"$0
endsnippet
