extends c

snippet guard "header guard" w
#ifndef __$1_H__
#define __$1_H__

$0

#endif // __$1_H__
endsnippet

snippet cpp "cpp extern" w
#ifdef __cplusplus
extern "C" {
#endif

$0

#ifdef __cplusplus
}
#endif
endsnippet

snippet class "Class" w
class $1
{
private:
public:
	$1();
	~$1();
};
endsnippet

snippet cout "Cout" w
std::cout << $1 << std::endl;
endsnippet
