snippet b "Bold" w
**$1**$0
endsnippet

snippet i "Italics" w
_$1_$0
endsnippet

snippet def "Definition" w
**$1** - $0
endsnippet

snippet link "Link" w
[$1]($2)$0
endsnippet

snippet trans "Translation Box" w
### raw
$1
### literal
### better
endsnippet

snippet im "Inline math" w
$$$1$$$0
endsnippet

snippet bm "Block math" w
\[
	$1
\]$0
endsnippet

snippet code "Code" w
\`\`\`
$0
\`\`\`
endsnippet
