snippet log "console log" w
console.log($1);$0
endsnippet

snippet debug "Debug message" w
console.debug('$1', $1);
endsnippet

snippet desc "describe" w
describe('$1', function() {
  $0
});
endsnippet

snippet it "it" w
it('$1', function() {
  $0
});
endsnippet

snippet c "const" w
const 
endsnippet

snippet l "let" w
let 
endsnippet

snippet f "const function" w
const $1 = ($2) => {
  $0
};
endsnippet
